<!-- Assuming this is your header -->
<header  >
  <div  *ngIf="userEmail" class="email"><b>Hello !  {{userEmail}}</b></div> <!-- Display the username here -->
</header>

<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email"><b>Email:</b></label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <br>
    <div>
      <label for="password"><b>Password:</b></label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <br>
    <div *ngIf="message" class="message"><b>{{ message }}</b></div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
    <br><br>
  </form>
</div>